# String

In [1]:
Course = "COMP377 Python"
print ("The course title is: ", Course)

The course title is:  COMP377 Python

## print the first letter of the string

In [3]:
print (Course[0])

C

## print the last letter of the string

In [4]:
print (Course[-1])

n

## What is the number of letters in the string

In [5]:
print (len(Course))

14

# Slicing

In [6]:
str = "ABC def"
print (str[1:3])

BC

In [7]:
print (str[ :5])

ABC d

# Count and find

In [8]:
str1 = "A BACA"
str1.count("A")

3

In [9]:
str1.find("C")

4

# Upper and lower

In [10]:
str1 = "AbcD efG"
str1 = str1.lower()

In [11]:
print (str1)

abcd efg

In [13]:
str1 = "AbcD efG"
str1 = str1.capitalize()
str1

'Abcd efg'

# Strip

In [14]:
str = "A BC "
print ("The number of Character before strip is: ", len(str))
print (str)
str = str.strip(" ")
print ("The number of Character after strip is: ", len(str))
print (str)

The number of Character before strip is:  5
A BC
The number of Character after strip is:  4
A BC

# String Split

In [15]:
str1 = "Hi My Name is Mohammad"
# Find how many words in the above statement
str2 = str1.split(" ")
len (str2)

5

print the first word in the above statement

In [17]:
str2[0]

'Hi'

print the last word in the above statement

In [18]:
str2[-1]

'Mohammad'

Example: if an email addressis F20191234@buc.edu.om find the following:The gender of the student joined the college the college website student id the country

In [2]:
str = "F20191234@buc.edu.om"
g = str[0]
if g =='F':
    print ("Female")
else:
    print ("Male")

Female

In [3]:
year = str[1:5]
print ("The student joined the college in: ", year)

The student joined the college in:  2019

In [5]:
str2 = str.split("@")
print ("The website joined the college is: ", "www."+str2[1])

The website joined the college is:  www.buc.edu.om

In [6]:
print ("The student ID is: ", str2[0])

The student ID is:  F20191234

In [9]:
w = str2[1]
w

'buc.edu.om'

In [10]:
str3 = w.split(".")
#print (str3)
print ("the code of the country is:", str3[2])

the code of the country is: om

# Example

if the country code 968 and the phone number 7123456 find the phone number

In [13]:
code = "968"
phone = "7123456"
phoneNumber = "+"+ code +phone
phoneNumber

'+9687123456'

# isalpha() and issum()

In [18]:
s1 = "a1234"
s1.isnumeric()

False

In [17]:
s1 = "1234"
s1.isnumeric()

True